VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_INSTAGRAM_URL=https://www.instagram.com/sillybondog/
VITE_TIKTOK_URL=https://www.tiktok.com/@sillybondog
VITE_YOUTUBE_URL=https://www.youtube.com/@sillybondog
